<div class="container">
    <h3><u>List of Fooditems</u></h3>
    <table class="table table-light table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Price</td>
                <td>Variety</td>
                <td>Avatar</td>
            </tr>
        </thead>
        <tbody>
           <tr *ngFor="let fooditem of fooditemsList">
              <td>{{fooditem.id}}</td>
              <td>{{fooditem.name}}</td>
              <td>{{fooditem.price}}</td>
              <td>{{fooditem.variety}}</td>
              <td><img class="rounded-circle" alt="{{fooditem.name}}'s Image" [src]="fooditem.avatar" style="height: 150px; width: 150px;"></td>>
           </tr>
    
        </tbody>
    </table>
</div>
