<div class="topnav-center">
  <h1> Online Food Delivery App</h1>
</div>
<div align="right" style="width:90%;">
  <marquee behavior="scroll" direction="left" onmousedown="this.stop();" onmouseup="this.start()" >
  <h4> Welcome to Fresh Food Delivery System.</h4>
  </marquee>
</div><div>
<ul class="topnav-right" >
  <a href="http://127.0.0.1:5500/Fooditem/register.html" target="display" >Register </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="http://127.0.0.1:5500/Fooditem/login.html" target="display">Login </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="http://127.0.0.1:5500/Fooditem/src/about.html" target="display">About</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="http://127.0.0.1:5500/Fooditem/src/contactus.html" target="display">Contact Us</a>
</ul>
</div>
<div class="container">
  <ul class="topnav">
    <li class="nav-item"  ><a routerLink="/addFooditem" class="nav-link">Add Fooditem</a></li>
    <li class="nav-item"><a  routerLink="/deleteFooditem" class="nav-link">Delete Fooditem</a></li>
    <li class="nav-item" ><a routerLink="/updateFooditem" class="nav-link">Update Fooditem</a></li>
    <li class="nav-item" ><a routerLink="/searchFooditem" class="nav-link">Search Fooditem</a></li>
    <li class="nav-item" ><a routerLink="/FooditemsList" class="nav-link">View all Fooditems</a></li>
  </ul>
</div>

<div class="container">
  <router-outlet>

  </router-outlet>
</div>




 


